{{!-- <div class = Car>
    <form action="/toTxt">
    <p>Car brand</p>
    <input type="text" name = 'brand'>
    <p>Year car</p>
    <input type="text" name = 'year'>
    <p>Color car </p>
    <input type="text" name = 'color'>
    <p>Price car </p>
    <input type="text" name = 'price'>
    </form>
 
</div> --}}
